.container section{
    margin: 2em 10em;
    text-align: center;
}

@media screen and (max-width: 576px){

.container section{
    margin: 2em 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
}

}