iframe {
    height: 80vh;
}

.descricao {
    display: flex;
    flex-direction: column;
    margin: 20px;
    border: 2px solid var(--preto);
    padding: 20px;
    padding-bottom: 50px;
}

@media screen and (max-width: 576px) {

    iframe {
        height: 50vh;
        margin: 0px 5px;
    }

    .descricao{
        padding: 0px 10px 20px 10px;
    }

}